.accordion {
    background-color: #530253;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: #330033;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordian-text {
  color: #FFFFFF;
}

.film-classification {
  height: 10%;
  width: 10%;
}

.class-title {
  font-size: 180%;
}

li {
  color: #FFFFFF;
}

h3 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #FFFFFF;
  font-size: 240%;
  text-transform: uppercase;
}

.BBFC-link {
  color: #CCC;
}

.BBFC-link:hover {
  color: #FFFFFF;
}