body {
    min-height: 100px;
    /* margin-bottom: 350px; */
    background-color: #100811;
    color: #FFFFFF;
 }
 .header {
     height: 310px;
     margin: auto;
 }
 
 .header img{
     height: 150px;
 }
 
 .header-right{
     float: right;
     font-size: 17px;
     
 }
 
 .topnav {
     background-color:   #0e5f99;    
     overflow: hidden;
     padding: 10px;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #04AA6D;
   color: #FFFFFF;
 }
 
 
 /* Right-aligned section inside the top navigation */
 .topnav-right {
     background-color: #0e5f99;
     overflow: hidden;
     float: right;
     
   }
 
   .header-right {
     padding: 10px;
   }
 
   .form {
     padding: 10px;
   }
 
   footer {
     background-color: #330033;
     color: #e6ffff;
       bottom: 0;
       width: 100%;
   }
   
   .mainFooter{
     background-color: 	 #330033;
     color:#e6ffff;
       width: 100%;
   }
   
   .form{
   overflow: visible;
   }
   
 #cinemaColour {
     color:#0e5f99;
 }
 
 main {
     overflow: show;
 }
 
 #background-match li a a:active a:hover a:visited{
     color:#e6ffff;
 }
 
 .navlink {
     color:#e6ffff;
 }
 
 
 .navlink a:link {
   color:#e6ffff;
 }
 
 /* visited link */
 .navlink a:visited {
   color:#e6ffff;
 }
 
 /* mouse over link */
 .navlink a:hover {
   color:#e6ffff;
 }
 
 /* selected link */
 .navlink a:active {
   color:#e6ffff;
 }
 
 header {
     background-color:	 #330033;
 }

  p {
    color: #FFFFFF;
  }

  h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: #FFFFFF;
    font-size: 240%;
    text-transform: uppercase;
  }

  .copywrite-text {
    color: #FFFFFF;
  }

  .age-rating-logo {
    max-width: 10%;
    max-height: 10%;
    display: inline;
  }

  .film-title {
    color:#330033;
    font-size: 200%;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
  }

  .film-title-logo {
    margin-top: 1%;
  }

  .cinema-film-placeholder {
    height: 50%;
  }

  .movie-details {  
    box-sizing: border-box;  
    background: #000; 
    font-family: verdana, arial;  
    font-size: 1.4rem; color: #fff; 
    line-height: 1.6em; 
    box-shadow: 0px 25px 25px -8px rgba(0, 0, 0, .7);
    padding: 0 0 30px; margin: auto;
    max-width: 560px; 
    text-align: -webkit-center; zoom: 1; }


.movie-img  { box-sizing: border-box; 
    overflow: hidden; }

.movie-details .img { 
    border-radius: 0 0 20px 20px; 
    height: 560px;  width: 100%; 
    max-width: 550px; }


.movie-details .movie-info { 
    box-sizing: border-box; 
    margin: 20px; 
    letter-spacing: 1.2px; }
    

.movie-info .movie-name {  
    font-size: 2.5rem; 
    font-weight: 700; 
    display: inline;
    text-transform: uppercase;
}

.thin-line {
    border-bottom: 1.5px solid rgb(47, 47, 47);
    line-height: 30px;  
    width: 70%;
}

.about-movie { 
    color: #d9d9d9; 
    font-size: 1.3rem; 
}

.movie-details .post-line { 
    border-bottom: 2.5px solid rgb(47, 47, 47); 
    padding: 15px 0; 
}

.post-line span { 
    font-weight: 700; 
    font-size: 1.6rem; 
}

.movie-desc {
    font-size: 70%;
}

.text-capitilsed {
  text-transform: capitalize;
}

.poster-thumbnail {
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}

.deleteButton {
  background: url("../images/DeleteButton.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.editButton {
  background: url("../images/icons8-edit-32.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

input[type=text], input[type=url], input[type=number] {
  width: 90%;
  background-color: #FFFFFF;
  color: #330033;
  border-radius: 0%;
}

#exampleModalLabel {
  margin-top: 0%;
  padding-top: 0%;
  color: #FFFFFF;
  background-color: #330033;
}

.modal-content {
  background-color: #330033;
  color: #FFFFFF;
}

table {
  margin: auto;
  border-style: double;
  border-color: #FDFAC3;
  border-radius: 15%;
  padding: 1%;
  justify-content: center;
  max-width: 90%;
}

th {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 140%;
  text-align: center;
  vertical-align: middle;
}

td {
  padding-left: 30px;
  font-size: 120%;
  padding-right: 30px;
  border-style: dashed;
  border-width: 1px;
  border-color: #FDFAC3;
  text-align: center;
  vertical-align: middle;
}


.add-film-button {
  color: #330033;
  background-color: #FFFFFF;
  border-radius: 15%;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.alert {
  position: relative;
}

.isNew {
  height: 30px;
  width: 30px;
  background: url(../images/icons/icons8-done-48.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
}

.isNotNew {
  height: 30px;
  width: 30px;
  background: url(../images/icons/icons8-close-48.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
}


