body {
  min-height: 100px;
  background-color: #100811;
  color: #FFFFFF;
}

.header {
   height: 310px;
   margin: auto;
}

.header img{
   height: 150px;
}

.header-right{
   float: right;
   font-size: 17px;
}

.topnav {
   background-color:   #0e5f99;    
   overflow: hidden;
   padding: 10px;
}

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
 color: black;
}

.topnav a.active {
 background-color: #04AA6D;
 color: #FFFFFF;
}

.topnav-right {
   background-color: #0e5f99;
   overflow: hidden;
   float: right;
   
 }

 .header-right {
   padding: 10px;
 }

 .form {
   padding: 10px;
 }

 footer {
   background-color: #330033;
   color: #e6ffff;
     bottom: 0;
     width: 100%;
 }
 
 .mainFooter{
   background-color: 	 #330033;
   color:#e6ffff;
     width: 100%;
 }
 
 .form {
 overflow: visible;
 }
 
#cinemaColour {
   color:#0e5f99;
}

main {
   overflow: show;
}

#background-match li a a:active a:hover a:visited{
   color:#e6ffff;
}

.navlink {
   color:#e6ffff;
}

.navlink a:link {
 color:#e6ffff;
}

.navlink a:visited {
 color:#e6ffff;
}

.navlink a:hover {
 color:#e6ffff;
}

.navlink a:active {
 color:#e6ffff;
}

header {
  background-color:	 #330033;
}

p {
 color: #FFFFFF;
}

h1 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #FFFFFF;
  font-size: 240%;
  text-transform: uppercase;
}

.copywrite-text {
  color: #FFFFFF;
}
 
.py-5{
  border-bottom-width: 10px;
}
 
#cinemaColour {
	color:white;
}
#cinemaBackgroundColour{
	text-decoration:none;
	background-color: #330033;
	color:#e6ffff;
	padding-bottom: 25px;
}

#extraPadding{
	padding:15px;
}

#footer {
	border-top-width: 10px;
}

.extraPadding{
	padding:15px;
}


.a {
  color:#FDFAC3;
  font-size: larger;
}

.a:hover {
  color: #F8B54C;
}

.btn {
  background-color: #530253;
  margin-top: 1%;
}

.dropdown-menu {
  background-color: #530253;
  margin-top: 1%;
}

.dropdown-item {
  color:#FFFFFF;
  font-size: 130%;
}

.nav-link {
  color: #FFFFFF;
  font-size: 140%;
}

.nav-link .active {
  color: #e6ffff;
}

.nav-link:hover {
  color: #e6ffff;
}

.nav-link:visited {
  color: #FFFFFF;
}

.nav-link::selection {
  color: #FFFFFF;
}

.logo-header {
  max-height: 75px;
  transform: translateY(-15px);
  margin-right: 10px;
}

.header-container {
  padding-top: 20px;
}