.card-text {
  color: #330033;
}

.cinema-screen-placeholder {
  border-radius: 2%;
  width: 100%;
  height: 225px;
  margin-top: 4%;
}

.cinema-film-placeholder {
  border-radius: 2%;
  width: 20%;
  height: 225px;
  margin-left: 1%;
}

.container {
  position: relative;
}

.cinemaSlides1 .cinemaSlides2 .cinemaSlides3 .cinemaSlides4{
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev-seating,
.next-seating {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #330033;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next, .next-seating{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .prev-seating{
  left: 0;
  border-radius: 3px 0 0 3px;
}
